@charset "UTF-8";

body {
	margin:0px;
	background-color:#32303a;
}

@font-face {
	font-family: Hovedfont;
	src: url(../fonter/MavenProLight-300.otf) format("opentype");
}

#wrap {			/*Holder alt til samme lengde*/
	width:800px;
	margin:auto;
	margin-top:-200px;
}

#header {		/*Øverste område som kan sørge for repeat-x bak header*/
	height:200px;
	background-image:url(../img/headerback.png);
	background-repeat:repeat-x;
}

#headerLogo {
	width:800px;
	height:200px;
	background-image:url(../img/logo.png);
}

#login {		/*Loginområdet*/
	width:318px;
	height:30px;
	float:right;
	top:4px;
	font-family:"Hovedfont";
}

#login a, a:visited, a:hover, a:active{
	text-decoration:underline;
	margin-right:0px;
	font-size:0.875em; 
	float:right; 
	margin-top:10px; 
	color:white;
	font-weight: bold;
}


#menu {			/*Menyen*/
	width:800px;
	height:50px;
	-webkit-box-shadow: 0 8px 6px -6px #353535;
	-moz-box-shadow: 0 8px 6px -6px #353535;
	box-shadow: 0 8px 6px -6px #353535;
	position:absolute;
	background-image:url(../img/meny.png);
	background-repeat:repeat-x;
	margin-top:-11px;
}

#menuLoc {
	width:800px;
	height:50px;
	margin-top:7px;
}

#menu a, a:hover, a:active, a:visited{
	font-size:30px;
	color:white;
	margin-left:25px;
	margin-right:30px;
	position:relative;
	margin-top:20px;
	font-family:"Hovedfont";
	text-decoration:none;
}

h1{
	font-family:"Hovedfont";
	margin:0px;
}

#menuUnder{
	width:800px;
	height:30px;
	background-image:url(../img/bacl.png);
	background-repeat:no-repeat;
	margin-top:38px;
	position:relative;
	z-index:-1;
}

#main {			/*Kontrollerer hovedområdet*/
	width:750px;
	min-height:675px;
	overflow:auto;
	margin:auto;
	background-color:white;
	margin-top:-30px;
}

#mainFull{
	width:690px;
	height:auto;
	margin-left:30px;
	margin-right:30px;
	margin-bottom:30px;
	margin-top:30px;
	font-family:"Hovedfont";
}

#mainFull img{
	margin-top:10px;
	margin-bottom:20px;
}

#mainText { 		/*Kontrollerer tekstområdet i hovedområdet*/
	margin-top:30px;
	margin-left:30px;
	overflow:auto;
	width:395px;
	float:left;
	font-family:"Hovedfont";
}

#mainText a, a:hover, a:active, a:visited{
	text-decoration:underline;
	color:black;
}

#mainPictures { /*Kontrollerer bildeboksen i hovedområdet*/
	width:260px;
	height:600px;
	margin-top:30px;
	margin-right:30px;
	float:right;
	position:relative;
	font-family:"Hovedfont";
}

#footer { 
	width:750px;
	height:35px;
	margin:auto;
	background-color:#477680;
	margin-bottom:30px;
	text-align:center;
	color:white;
	font-family:"Hovedfont";
}

#footer p{
	padding-top:8px;
}

p {
	margin:0px;
}

#register {
	font-family:"Hovedfont";
	background:#fff;
	margin:auto;
	position:absolute;
	width:500px;
	margin-left:150px;
	top:-500px;
	border-radius:5px;
	box-shadow:0 3px 7px rgba(0,0,0,.25);
	-moz-box-shadow:0 3px 7px rgba(0,0,0,.25);
	-webkit-box-shadow:0 3px 7px rgba(0,0,0,.25);
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
	
#register:target {
	top:100px;
	transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
}

#register header,#register footer {
	background:#477680;
	border-bottom: 1px solid #e7e7e7;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
}

#register footer {
	border:none;
	border-top: 1px solid #e7e7e7;
	border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
}
	
#register section,#register header, #register footer {
	padding:15px;
	z-index:200;
}

#register h2 {
	margin:0;
	color:white;
}